body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    font-size: 13px;
    background-color: #fff;
    -webkit-appearance: none;
}

.viewport {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    min-width: 980px;
    display: block;
}

img {
    display: block;
    text-align: -webkit-center;
    margin-top: 180px;
    height: 150px;
    width: 272px;
    margin-bottom: 10px;
}

form {
    width: 100%;
    position: absolute;
    top: 311px;
}

ul {
    -webkit-appearance: none;
}
    

a {
    -webkit-appearance: none;
    color: #6c6c6c;    
    background-color: #fff;    
    text-decoration: none;
    height: 28px;
}
    

li {
    display: inline-block;
    line-height: 24px;
    outline: none;
    vertical-align: middle;
    color: #6c6c6c;
    padding-right: 15px;
}

.logo {
    position: relative;
    margin: 0 auto;
    width: 272px;
    height: 92;
}

.searchbar {
    display: block;
    margin: 0 auto;
    width: 600px
}

.leftfoot {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 300px
}

.rightfoot {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.navbar {
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    text-align: right;
    align-items: center;
    float: right;
    color: #6c6c6c;
}

.thebuttons {
    display: block;
    margin: 0 auto;
    width: 230px;
}

#squares {
    display:inline-block;
    height: 30px;
    width: 30px;
    background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
    background-size: 528px 68px;
    background-position: -132px -38px;    
    opacity: 0.55;
} 

#jimmy {    
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid #4285f4;
    font-weight: bold;
    outline: none;
    background-image: -webkit-linear-gradient(top,#4387fd,#4683ea);
    color: #fff;
}

.footelement{
    padding: 12px 12px;
}

.footer{
    display: block;
    line-height: 40px;
    background-color: #fff
}